
body {
    margin: 0 0 0 120px;
}

/* header box style */
.header-box {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    /* margin: 0px 120px; */
}
.header-title {
    /* margin-left: 0px; */
}
.header-btn {
    margin-right: 0px;
    padding: 0 20px;
    height: 32px;
    border-radius: 5px;
    margin-top: 20px;
}
.bangladesh-container {
    display: flex;
    background-color: rgba(255, 0, 0, 0.05);
    justify-content: space-around;
    width: 1320px;
    height: 620px;
    margin-top: 58px;
    /* margin: 120px 120px; */
}
.bangladesh-box-title {
    color: lightcoral;
    font-size: 26px;
    margin-top: 120px;
}
.bangladesh-box-description {
    color: black;
    font-size: 64px;
    width: 660px;
    margin-top: 20px;
}
.bangladesh-box-btn {
     background-color: red;
     padding: 15px 20px;
     border-radius: 10px;

}
.btn-color {
    color: white;
}
.bangladesh-box-image {
    margin-top: 100px;
}
/* pillar box style */
.pillars-container {
    display: flex;
    gap: 15px;
    /* margin-left: 120px; */
    width: 1320px;
}
.pillars-box {
    padding: 10px;
    background-color: cornsilk;
    background-repeat: no-repeat;
    
}
.pillar-title {
    /* margin-left: 120px; */
}
/* future-vision-container style */
.future-container {
    width: 1320px;
}

.future-vision-title {
    /* margin-left: 120px; */
    margin-top: 80px;
}
.future-vision-discription {
    /* margin-left: 120px; */
}

.future-vision-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* margin-left: 120px; */
    width: 1320px;
    height: 280px;
    margin-top: 48px;
}
.future-container-box {
    margin-left: 35px;
    margin-top: 20px;
}
.future-container-box-blue {
    width: 471px;
    background-color: rgb(90, 162, 234);
    border-radius: 10px;
}
.future-container-box-green {
    width: 471px;
    background-color: rgb(3, 137, 3);
    border-radius: 10px;
}
.future-container-box-yellow {
    width: 471px;
    background-color: rgb(89, 191, 89);
    border-radius: 10px;
}
.future-container-box-button-blue {
    background-color: blueviolet;
    margin-left: 20px;
    padding: 03px 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.future-container-box-button-green {
    background-color: rgb(149, 57, 3);
    margin-left: 20px;
    padding: 03px 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.future-container-box-button-yellow {
    background-color: rgb(34, 123, 2);
    margin-left: 20px;
    padding: 03px 20px;
    border-radius: 5px;
    margin-top: 5px;
}
a {
    color: white;
    text-decoration: none;
}
/* yunus-speech-container style */

.yunus-speech-container {
    width: 1320px;
    height: 210px;
    background-color: rgba(255, 0, 0, 0.05);
    /* margin-left: 120px; */
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    margin-top: 120px;
    border-radius: 10px;
}
.yunus-speech-box {
    margin-left: 5px;
    padding: 15px;
}
p{
    margin-top: 10px;
}
.yunus {
    margin-top: 40px;
}
/* opinion style */
.opinion-container {
    width: 1320px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.opinion-container-box {
    padding: 15px 20px;
}
.opinion-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #8cb892;
    font-weight: bold;
    border: 1px solid black;
}
.row {
    display: flex;
    padding: 15px 20px;
    border: 1px solid black;
    justify-content: space-between;
    
}
.question {
    columns: 1px solid black;
    
}
.opinion {
    flex: 1;
    text-align: right;
}
select {
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.question > div {
    columns: 1px solid black;
}

/* recent news style */
.recent-news-description {
    width: 1230px;
}
.recent-news-container {
    width: 1320px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.recent-news-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px  25px;
}
image {
    border-radius: 10%;
    padding: 10px 15px;
}
.recent-news-header {

}
.recent-news-btn {
    background-color: rgb(149, 57, 3);
    padding: 8px 12px;
    border-radius: 5px;
}
/* donate container style */
.donate-container {
    text-align: center;
    width: 1320px;
}
.donate-description {
    padding: 0 170px;
}
.donate-item-box {
    width: 1320px;
    gap: 45px;
    display: flex;
    justify-items: center;
    justify-content: space-around;
}
.donate-item {
    text-align: center;
    border: 1px solid black;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #fff;
    color: black;
}
.other-amount {
    text-align: center;
    justify-content: space-around;
    justify-items: center;
    width: 1320px;
}
.amount {
    width: 1050px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}
.donate-btn {
    display: flex;
    margin: 0 auto;
    background-color: rgb(149, 57, 3);
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
}